html {
  height: 100%;
  width: 100%;
  min-width: 400px;
}

body {
  width: 100%;
  height: 100%;
  min-width: 400px;
  background: #e3ffb2;
  background: linear-gradient(315deg, #e3ffb2, #96f9ee);
  background-attachment: fixed;
  font-family: sans-serif;
  color: grey;
  text-align: center;
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  height: 15%;
  position: relative;
  margin: 0;
  padding: 0;
}

header h1 {
  color: rgb(57, 57, 57);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  margin: 0;
  padding: 0;
}

main {
  width: 80%;
  min-height: 50%;
  min-width: 300px;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.526);
  border: 2px solid rgba(255, 255, 255, 0.832);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.214);
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

h2 {
  width: 100%;
  font-size: 30px;
}

footer {
  width: 100%;
  height: 10%;
}

/*  INPUT NEW TASK */

#taskForm {
  width: 80%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#taskInput {
  width: 70%;
  margin-right: 5px;
}

#submitButton {
  width: 25%;
  min-width: 120px;
  background-color: #f7ff9e;
  font-size: 20%;
  color: grey;
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
}

#submitButton:hover {
  background-color: #f3ff6b;
}

#taskInput,
#submitButton {
  font-family: sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  height: 40px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 0 10px;
  vertical-align: middle;
}

/* TASK BUTTONS */

.task-buttons {
  background-color: white;
  border: 2px solid rgb(188, 188, 188);
  border-radius: 5px;
  cursor: pointer;
  padding: 3px;
  margin: 0 5px;
  font-family: sans-serif;
}

/* COMMENT DIV */

.comment-div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  border-radius: 5px;
  padding: 2px;
  margin: 0 5px;
}

.comment-input {
  flex: 1;
  height: 100%;
  width: 80%;
  box-sizing: border-box;
  display: inline-block;
  border: 0.5px solid white;
  border-radius: 5px;
  font-family: sans-serif;
}

.comment-input:focus {
  outline: none;
  border: none;
}

#commentButtonsDiv {
  display: flex;
  width: 20%;
  gap: 5px;
  float: right;
}

.comment-button {
  height: 100%;
  padding: 2px 10px;
  background-color: white;
  border: white;
  border-radius: 5px;
  cursor: pointer;
  font-family: sans-serif;
  color: purple;
  font-weight: bold;
}

ul {
  width: 90%;
  margin: 20px;
  list-style: disc;
}

ul li {
  min-height: 35px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
}

li p {
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  margin: 0;
}

.task-crossed {
  text-decoration: line-through;
}
