
//  GLOBAL   

html {
  @include size(320px, 100%, auto, auto, 100%, auto);
}

body {
  @include size(320px, 100%, auto, auto, 100%, auto);
  @include margpad(0, 0);
  background: #e3ffb2;
  background: linear-gradient(315deg, #e3ffb2, #96f9edb3);
  background-attachment: fixed;
  font-family: "Quicksand", sans-serif;
  color: grey;
  text-align: center;
}


//   HEADER   

header {
  @include size(auto, 100%, auto, auto, 15%, auto);
  @include margpad(0, 0);
  @include flex(row, center, space-between, nowrap);
  position: relative;
}

header ion-icon {
  @include size(auto, 10%, 40px, auto, 100%, auto);
  @include margpad(0, 5%);
  cursor: pointer;
}


header h1 {
  @include font(45px, bold, rgb(57, 57, 57));
  @include margpad(0, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 200,
    "GRAD" 0,
    "opsz" 20;
}


//  MAIN

main {
  @include size(auto, 100%, auto, 50%, auto, auto);
  @include margpad(0 auto, 0);
  @include flex(column, center, flex-start, nowrap);
  background-color: rgba(255, 255, 255, 0);
}


// FOOTER

footer {
  @include size(20%, 100%, auto, auto, 20%, auto);
  @include margpad(0, 0);
}